{% extends "theme.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="card">
        <h2>Website Uptime Status</h2>
        <table>
            <tr>
                <th>Site Name</th>
                <th>Uptime (%)</th>
            </tr>
            {% for site, uptime in data %}
                <tr>
                    <td>{{ site.name }}</td>
                    <td>{{ uptime }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
