<div class="tiles-container">
    {% for site in data %}
        <div class="tile">
            <div class="site-name">{{ site[0] }}</div>
            <div class="uptime-grid-horizontal">
                {% for week in site[3] %}
                    <div class="week-column">
                        {% for day in week %}
                            <div class="uptime-box-horizontal {{ day.status }}" data-date="{{ day.date }}" title="{{ day.date }}"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
